*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto Mono', monospace;
    font-weight:600;
    color: black;
}

.inline-block{
    display: inline-block;
}
/* NAVBAR PART */
nav{
    position: fixed;
    content: "";
    top: 0;
    right: 0;
    z-index: 1;
}
nav li a{
    text-decoration: none;
    line-height: 50px;
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 50%;
    margin: 50px 15px;
    box-shadow: 2px 3px 3px grey;
}
nav li a:hover{
    transition: 0.5s;
    box-shadow: 0px 0px 20px white;
}
nav li{
    text-align: center;
    vertical-align: middle;
}
/* ///NAVBAR */

/* MAIN SECTION */
main .container{
    height: 100vh;
    width: 100%;
    color: #FFFF00;
    position: relative;
    /* border: 1px solid black; */
    font-size: 2rem;
    font-weight: 900;
    line-height: 3rem;
    text-transform: uppercase;
    text-align: center;
}
.container .product{
    width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}
.container .product img{
    width: inherit;
    object-fit: contain;
}
/* ///MAIN SECTION */

/* IMAGES ID PROPRIETY */
#first{
    background-color: rgba(255, 0,0 , 0.8);
}
#second
{
    background-color: rgba(0, 128, 0 , 0.8);
}
#third
{
    background-color: rgba(255, 255,0 , 0.8);
    color: rgb(0, 128, 0 );
}
/* ///IMAGES ID PROPRIETY */